* {
    box-sizing: border-box;
}
body{
    background-color: rgb(211, 211, 211);
}
h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    font-weight: bold;
}
h3{
    font-family: 'Courier New', Courier, monospace;
    padding-left: 100px;
}
h3.b{
    font-family: 'Courier New', Courier, monospace;
}
#body-text{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 90px;
}
dt{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 15px;
    font-size: 14px;
}

#icon-text{
    float: left;
    width: 33%;
    text-align: center;
}
#icons-header{
    float: left;
}


[class*="col-"] {
    width: 100%;
}


[class*="col-"] {
    float: left;
    padding: 15px;
    text-align: center;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

@media only screen and (min-width: 1200px) {
    /*For desktop view*/
    .col-1{width: 33.333%;}
    .col-2{width: 33.333%;}
    .col-3{width: 33.333%;}
  }