* {
    box-sizing: border-box;
}

@font-face {
    font-family: Bauhaus93;
    src: url(fonts/BAUHS93.TTF);
}

@font-face {
    font-family: Cocogoose-title;
    src: url(fonts/Cocogoose/Cocogoose\ Pro\ Italic-trial.ttf);
    
}

@font-face {
    font-family: Cocogoose-body;
    src: url(fonts/Cocogoose/Cocogoose\ Pro\ Light-trial.ttf);
}

@font-face {
    font-family: Cocogoose-numbers;
    src: url(fonts/Cocogoose/Cocogoose\ Pro\ Semilight\ Italic-trial.ttf);
}

@font-face {
    font-family: Coolvetica;
    src: url(fonts/coolvetica/coolvetica\ rg.otf);
}

h1 {
    font-family: Cocogoose-title;
    font-style: italic;
    font-size: 10vw;
}

h3 {
    text-align: center;
    font-family: Cocogoose-body
}

body {
    background-color: #333333;
    color: #FFFCFC;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.container_booking {
    display: flex;
    justify-content: center;
    gap: 10%;
    margin: 40px 20px;
    flex-wrap: wrap;
}

.skjema {
    display: flex;
    justify-content: right;
    text-align: left;
}

#navn-form {
    display: block;
    margin-top: 1%;
    margin-bottom: 2%;
    width: 200px;
}

#mobil-form {
    display: block;
    margin-top: 1%;
    margin-bottom: 2%;
    width: 200px;
}

#E-post-form {
    display: block;
    margin-top: 1%;
    margin-bottom: 2%;
    width: 200px;
}

#info-form {
    display: block;
    height: 100px;
    width: 400px;
}

.send {
    margin-top: 3%;
}


.infotekst {
    margin: 0px;
}

.informasjon {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    width: 400px;
}

ul {
    list-style-type: none;
}

li {
    font-family: cocogoose-title;
}

img.main {
    max-width: 100%;
    height: auto;
    -webkit-mask-image: linear-gradient(black, transparent);
    mask-image: linear-gradient(black, transparent);
}

hr {
    width: 80%;
}
hr.hidden {
    clear: both;
    visibility: hidden;
}

hr.long{
    width: auto;
}

.container {
    position: relative;
    text-align: center;
    color: #FFFCFC;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topnav {
    overflow: hidden;
    background-color: #161616;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-family: Bauhaus93;
    font-size: 20pt;
}

.burgermenu {
    float: right;
    cursor: pointer;
    padding-top: 1%;
    padding-right: 2%;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #e8e8e8;
    margin: 6px 0;
    transition: 0.4s;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: Cocogoose-body;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 48px;
    margin-left: 50px;
  }

.footer {
    overflow: hidden;
    background-color: #161616;

}

.footer a {
    text-align: center;
    font-family: Cocogoose-numbers;
    color: #f2f2f2;
    font-size: 15px;
}

input#abonner { 
    height:25px; 
    width:80px;
}
#abonner:hover{
    background-color:#fbd19d;
    border:1px solid #f2f2f2;
    transition: 0.6s;
}
#navn{
    height:25px; 
    width:150px;
}
#epost{
    height:25px; 
    width:150px;
}

.location-links a:link {
    color: lightsalmon;
}
.location-links a:visited {
    color: lightsalmon;
}

[class*="col-"] {
    width: 100%;
    float: left;
    padding: 15px;
    text-align: center;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

@media only screen and (min-width: 1200px) {
    /*For desktop view*/
    .col-1{width: 33.333%;}
    .col-2{width: 33.333%;}
    .col-3{width: 33.333%;}
  }

@media only screen and (max-width: 945px) {
    .informasjon{
    margin-bottom: 5%;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 450px) {
    #info-form {
     width: 200px; 
    }
    .container_booking {
        justify-content: left;
    }
}


.container_topical{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 200px;
}

  .skjema-topical{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    width: 400px;
    line-height: 1.9;
    padding-top: 1%;
}

.informasjon-topical{
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    height: 700px;
}

.informasjon-topical p {
    font-size: 15px;
}

.informasjon-topical a:link {
    color: lightsalmon;
}
.informasjon-topical a:visited {
    color: lightsalmon;
}

.informasjon-topical figure img{
    border: 2px;
    border-radius: 5%;
    box-shadow: gray 0px 0px 5px;

}
